<!DOCTYPE html>

{% extends 'base.html' %} {% block content %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <style>
    h1 {
      color: #e38a8d;
      margin-bottom: 10px;
      text-align: center;
      font-size: 60px;
    }
    a {
      color: #eab1a1;
    }
  </style>

  <body>
    <h1>Financial Resources</h1>

    <div>
      <h3>
        <a href="https://reprolegaldefensefund.org/"
          >https://reprolegaldefensefund.org/</a
        >
      </h3>
      <p>
        Fund bail and defend individuals criminalized for self-managed abortions
      </p>
    </div>

    <div>
      <h3>
        <a href="https://abortionfunds.org/">https://abortionfunds.org/</a>
      </h3>
      <p>
        "The National Network of Abortion Funds builds power with members to
        remove financial and logistical barriers to abortion access by centering
        people who have abortions and organizing at the intersections of racial,
        economic, and reproductive justice."
      </p>
    </div>
  </body>
</html>
{% endblock %}
