<!DOCTYPE html>
{% extends 'base.html' %} {% block content %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <style>
    * {
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    }
    body {
      background-image: url("../images/ProjectGarbh.png");
    }
    h1 {
      margin-bottom: 10px;
      text-align: center;
      font-size: 60px;
      color: #e8999b;
    }
    h2 {
      color: #eab1a1;
    }
    .secondSection {
      width: 600px;
      float: right;
      margin: 30px;
    }
    .firstSection {
      width: 600px;
      float: left;
      margin: 30px;
    }
  </style>
  <body>
    <h1>Project Garbh</h1>

    <div class="firstSection">
      <h2>About Us</h2>
      <p>
        Garbh is a web app built using the Django framework. With a wealth of
        information about abortions and the procedures associated with them, it
        serves as an awareness guide. A chatbot made with Dialogflow(A Google
        Cloud API) has been integrated into the main page to answer all the
        questions related to abortion so misinformation can be avoided. Through
        web scraping, the website can direct the user to the nearest medical
        resource available to them.
      </p>
    </div>

    <div class="secondSection">
      <h2>Raising Awareness:</h2>
      <p>
        On Friday, June 24, 2022, the US Supreme Court overturn Roe v. Wade, the
        historic law that had declared the right to an abortion a constitutional
        one in the country. In the US, more than 15 states have outlawed
        abortion, and more than ten more are considering doing the same.
        Multiple studies have shown that restricting abortion may result in
        fewer women working and attending school. This inspired us to create
        Garbh, which works as a guide for women who need to seek an abortion but
        are unsure of how to proceed
      </p>
      
    </div>

    <iframe
      width="350"
      height="430"
      allow="microphone;"
      src="https://console.dialogflow.com/api-client/demo/embedded/bd5c0397-c4d0-4170-afda-9904b869c4f3"
    ></iframe>
  </body>
</html>
{% endblock %}
